.Button {
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    min-width: 5rem;
    margin: 0;
    padding: 0.5rem;
    border: 1px solid #404040;
    border-radius: 2px;
    outline-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: ghostwhite;
    color: black;
    text-transform: capitalize;
    will-change: transform;
    transform: scale(1.0);
    transition: transform 0.2s ease-in-out;
}

.Button:hover,
.Button:focus {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.Button:active {
    transform: scale(1.1);
}

.Button--default {
    background-color: grey;
    color: black;
}

.Button--primary {
    background-color: dodgerblue;
    color: black;
}

.Button--info {
    background-color: powderblue;
    color: black;
}

.Button--success {
    background-color: springgreen;
    color: black;
}

.Button--warning {
    background-color: lightgoldenrodyellow;
    color: black;
}

.Button--danger {
    background-color: palevioletred;
    color: black;
}